body{
font-family: Tahoma, sans-serif;
background:#f4f4f4;
margin:0 auto;
}
/*************************************
 *  Header
 *************************************/

div{
display:flex;
background:#40B0B0;
padding:0 20px;
}
abbr{
text-decoration: none;
margin-left:auto;
padding: 5px;
box-sizing: border-box;

}
abbr:hover{
background:#587575;
cursor:pointer;
box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*************************************
 *  Add-Todo Section
 *************************************/
form{
font-family: cursive;
background:#587575;
padding:20px 40px;
}
.dropdown{
    display:none;
}
form > h3{
margin-top:0;
}
label{
display:block;
}
input{
background:#587575;
width: 50%;
margin-bottom:10px;
}
textarea{
background:#587575;
width: 50%;
margin-bottom:5px;
}
button{
display:block;
cursor:pointer;
}

/*************************************
 *  Todos Section
 *************************************/
ul{
list-style:none;
padding:0;
margin-top:5px;
}
li{
float:left;
width:90%;
border-left:5px dashed #345050;
margin:0;
margin-bottom: 2px;
padding: 5px 20px;
background:#B6BCBC;
min-height:50px;
box-sizing: border-box;
}
.del{
margin:0;
font-weight: bold;
margin-bottom: 2px;
padding: 5px 20px;
background:#ccc;
min-height:50px;
box-sizing: border-box;
float:right;
width:10%;
display:flex;
align-items: center;
justify-content: center;
border-right:5px dashed #345050;
}
.del:hover{
    background: #587575;
    cursor:pointer;
}